
h1{
    font-size: 2.5em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
p{
    font-size: 1.2em;
    line-height: 1.6;

    margin-bottom: 15px;
}

ol{
    margin-left: 20px;
    color: #444;
}
ol > li{
    list-style: none;
}